## Data cleaning

### Set up

We first import the different libraries that we will be using for this project

In [9]:
import pandas as pd
from datetime import datetime 
from meteostat import Stations, Daily

We import our dataset

In [13]:
data_path="data/fires-all.csv"
fires=pd.read_csv(data_path)
fires.head()

,id,superficie,fecha,lat,lng,latlng_explicit,idcomunidad,idprovincia,idmunicipio,municipio,...,causa_supuesta,causa_desc,muertos,heridos,time_ctrl,time_ext,personal,medios,gastos,perdidas
0,1968290001,14.0,1968-01-01,NaN,NaN,0,4,29,0,INDETERMINADO,...,1,40,0,0,0,360,0,0,0,0
1,1968430003,3.0,1968-01-03,NaN,NaN,0,2,43,0,INDETERMINADO,...,1,0,0,0,0,60,0,0,0,0
2,1968290006,2.0,1968-01-06,NaN,NaN,0,4,29,0,INDETERMINADO,...,1,0,0,0,0,120,0,0,0,0
3,1968430016,600.0,1968-01-07,NaN,NaN,0,2,43,0,INDETERMINADO,...,1,20,0,0,0,1440,35,1,0,0
4,1968120007,8.2,1968-01-07,NaN,NaN,0,9,12,0,INDETERMINADO,...,1,20,0,0,0,120,0,0,0,0

We analyze the data and observe the type of data on each column and how many nulls values we have

In [15]:
fires.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284589 entries, 0 to 284588
Data columns (total 21 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               284589 non-null  int64
 1   superficie       284589 non-null  float64
 2   fecha            284589 non-null  object
 3   lat              230154 non-null  float64
 4   lng              230154 non-null  float64
 5   latlng_explicit  284589 non-null  int64
 6   idcomunidad      284589 non-null  int64
 7   idprovincia      284589 non-null  int64
 8   idmunicipio      284589 non-null  int64
 9   municipio        284576 non-null  object
 10  causa            284589 non-null  int64
 11  causa_supuesta   284589 non-null  int64
 12  causa_desc       284589 non-null  int64
 13  muertos          284589 non-null  int64
 14  heridos          284589 non-null  int64
 15  time_ctrl        284589 non-null  int64
 16  time_ext         284589 non-null  int64
 17  personal         284589 non-null  int64
 18  medios           284589 non-null  int64
 19  gastos           284589 non-null  int64
 20  perdidas         284589 non-null  int64
dtypes: float64(3), int64(16), object(2)
memory usage: 45.6+ MB

### Remove unnecesary rows

In [ ]:
#TODO

### Remove unnecesary columns

In [ ]:
#TODO

### Add weather data

In [ ]:
# Documentation (https://dev.meteostat.net/python/daily.html#example)
#TODO

### Group by weeks

In [ ]:
#TODO

### Split train and test data

In [ ]:
#We split 80% of the data for training the model
train_split=80

## Analyze data

In [ ]:
#TODO

## Train models

In [ ]:
#TODO

## Performances

In [ ]:
#TODO

## Test Model

In [ ]:
#TODO